<script type="text/javascript">
<!--
     
 $(function () {
 	 $('#micropost_content').maxlength({
            max: 140,
            feedbackText: '{r} characters remaining',
            showFeedback: 'true',
            feedbackTarget: '#targetFeedback'
       });
 });
     
//-->
</script>

<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, maxlength: 140 %>
	</div>
	<div class="row">
	<div class="span2"><%= f.submit "Post", class: "btn btn-large btn-primary" %></div>
    <div class="span2"><span id="targetFeedback">&nbsp;</span></div>
	</div>
<% end %>