<script type="text/javascript">
<!--
     
 $(function () {
 	 $('textarea#micropost_content').maxlength({
            alwaysShow: true
        });
 });
     
//-->
</script>

<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, class: "form-control", maxlength: 140 %>
	</div>
	<div class="fieldcount">
     
  	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>